<article class="post">
  <section class="post-head">
    <h2> <%= link_to post.title, post_path(post) %></h2>
    <small>
      <time><%= post.created_at.to_date.strftime("%d %B")%></time>
      | <%= link_to 'Изменить', edit_post_path(post) %>
      | <%= link_to 'Удалить', edit_post_path(post), method: :delete, date: { confirm: "Удалить"} %>

    </small>
  </section>

  <section class="post-summary">
    <%= image_tag post.image.url(:thumb), class: "img-show" if post.image? %>
  </section>

  <section class="post-summary">
    <%= post.summary %>
  </section>

  <section class="footer-summary">
    <%= raw post.tags.map(&:name).map{ |t| link_to t, tag_path(t), class: "tag tag-primary"}.join(" ") %>
  </section>

</article>
